* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #343434;
    font-family: 'Quicksand', sans-serif;
}

/*header y navbar*/
.header-portada {
    background-image: url(images/portada.png);
    background-size: cover;
    background-position: center;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.navbar {
    border-top: 1px solid rgb(84, 84, 84);
    border-bottom: 1px solid rgb(84, 84, 84);
}

/*main section*/
section h1 {
    text-align: center;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid black;
    border-radius: 5px;
    margin: 0;
    padding: 1rem;
    background-color: #E1C191;
    font-size: 2rem;
    width: auto;
}

section p {
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    list-style-position: outside;
}

#carouselExampleIndicators{
    width: 500px;
    margin:auto;
}

.fondo-svg {
    background: url(images/Fondo\ de\ pantalla\ para\ escritorio\ organizador.png) no-repeat center center fixed;
    background-size: cover;
    background-color:white;
}

footer {
    background-color: #E1C191;
    color: #737373;
    height: auto;
    padding-left: 100px;
    position: relative;
    border-top: 2px solid black;
}

h3 {
    color: #343434;
}

.social-links {
    display: flex;
}

.social-links a {
    margin-left: 30px;
}

/*Formulario*/
.card {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 50px;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  
  input[type="submit"], .btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #2980b9;
  }
  
  #status {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  } 